.container-fluid {
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.form-label {
  font-weight: bold;
}

.form-select,
.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-check-input {
  margin-right: 5px;
}

.submitButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-outline-secondary {
  border-color: #ccc;
  color: #333;
}

@media (min-width: 576px) {
  .formDiv {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .formDiv {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .formDiv {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .formDiv {
    max-width: 900px;
  }
}
.form-control[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Chrome, Safari, Opera */
}

/* Remove spin buttons for Chrome, Safari, and Opera */
.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spin buttons for Firefox */
.form-control[type="number"] {
  -moz-appearance: textfield;
}
